@import url(./__avatar/profile__avatar.css);
@import url(./__profile-info/profile__profile-info.css);
@import url(./__about/profile__about.css);

.profile {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
}
