.title {
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 42px;
  line-height: 1;
  color: #fff;
  padding-top: 14px;
}

@media (min-width: 300px) and (max-width: 480px) {
  .title {
    font-size: 27px;
    padding-top: 29px;
  }
}
