.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  object-fit: none;
}

@media (max-width: 768px) {
  .profile__avatar {
    margin-right: 0;
  }
}

@media (min-width: 300px) and (max-width: 480px) {
  .profile__avatar {
    margin-bottom: 14px;
  }
}
