.popup__title {
  margin: 0 0 13%;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.208;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-textsize-adjust: 100%;
  -ms-textsize-adjust: 100%;
  -moz-textsize-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media (max-height: 375px) {
  .popup__title {
    margin-bottom: 8%;
  }
}
