.page__container {
  margin: 0 auto;
  max-width: 882px;
  min-width: 282px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-textsize-adjust: 100%;
  -ms-textsize-adjust: 100%;
  -moz-textsize-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media (max-width: 960px) {
  .page__container {
    padding: 0 25px 0;
  }
}

@media (min-width: 300px) and (max-width: 480px) {
  .page__container {
    padding: 0 19px 0;
    max-width: 282px;
  }
}
