.popup__profile-about {
  height: 27.3px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.214;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-textsize-adjust: 100%;
  -ms-textsize-adjust: 100%;
  -moz-textsize-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin-bottom: 11.1627906977%;
  border-bottom: 1px solid #808080;
  padding: 0;
  border-style: none none solid none;
  resize: none;
}

.popup__profile-name:focus {
  outline: none;
}
