@import url(./_size/button_size_l.css);
@import url(./_no-borders/button_no-borders.css);
@import url(./_action/button_action_add.css);
@import url(./__close-icon/button__close-icon.css);

.button {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: pointer; 
  outline: none;
  transition: opacity ease-out 400ms;
}

.button:hover {
  opacity: 0.6;
}
